[vcenter]
<vCenter_name>	ansible_host=<vCenter_IP>

[esx_hosts]
esx1	ansible_host=<ESX1_IP>
esx2	ansible_host=<ESX2_IP>


[ontap_deploy]
<ontap_select_deploy_name>	ansible_host=<ontap_select_deploy_IP>
