deploy_login: "admin" # Ontap Deploy username
deploy_pwd: "password"
vcenter_login: "administrator@vsphere.local" # VCenter username
vcenter_password: "password"
host_esx_password: "password" # ESX node password
host_kvm_password: ""
ontap_pwd: "password" # Ontap Select admin password
